# =========================

# API / Backend

# =========================

  

# Базовый URL бэкенда (Docker / локальный запуск)

VITE_API_BASE_URL=http://localhost:8000

  

# Версия API (если используется)

VITE_API_VERSION=/api/v1

  

# =========================

# Auth / JWT

# =========================

  

# Нужно ли автоматически обновлять access token

VITE_AUTH_AUTO_REFRESH=true

  

# =========================

# App

# =========================

  

# Название приложения (опционально)

VITE_APP_NAME=BuildHub

  

# Окружение

VITE_ENV=development